<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Assets</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      #images {
        width: 300px;
      }
      img {
        display: block;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div id="images">
      <% data.forEach(function (datum) { %>
        <img src="<%= datum %>">
      <% }); %>
    </div>
  </body>
</html>
